<div class="cotainer-product-card">
  <mat-card class="new-product-card" appearance="outlined">
    <mat-card-header>
      <mat-card-title>Add New Product</mat-card-title>
    </mat-card-header>
    <mat-form-field class="example-full-width">
      <mat-label>First name</mat-label>
      <input matInput>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Select</mat-label>
      <mat-select>
        <mat-option value="one">First option</mat-option>
        <mat-option value="two">Second option</mat-option>
      </mat-select>
    </mat-form-field>
  </mat-card>
</div>
